{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Instrument Manager{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Board Number</th>
            <th>Last Status</th>
	        <th>Query</th>
        </tr>
        </thead>
        <tbody>
        {% for instrument in instrumentDetails %}
        <tr>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.manufacturer }}</td>
            <td>{{ instrument.board_number }}</td>
            <td>{{ instrument.status }}</td>
            <td>
                <form onsubmit="event.preventDefault(); query('{{ instrument.name }}',document.getElementById('{{ instrument.name }}-query').value); return false;">
                    <select name="queries" id="{{ instrument.name }}-query">
                        <option value="*IDN?">*IDN?</option>
                        <option value="CAL?">CAL?</option>
                        <option value="*RST">*RST</option>
                        <option value="*TST?">*TST?</option>
                        <option value="*CLS">*CLS</option>
                        <option value="*OPC?">*OPC?</option>
                        <option value="*SRE?">*SRE?</option>
                    </select>
                    <button class="{{ instrument.name }}-button" onclick="query('{{ instrument.name }}',document.getElementById('{{ instrument.name }}-query').value)">Query</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}