{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Instrument Manager{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Class</th>
            <th>Info</th>
            <th>Interface Type</th>
            <th>Board Number</th>
            <th>Lock State</th>
            <th>VISA Spec</th>
	    <th>Last Status</th>
            <th>IDN</th>
            <th>Self Test</th>
	    <th>Query</th>
        </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
        <tr>
            <td>{{ instrument.resource_name }}</td>
            <td>{{ instrument.resource_manufacturer_name }}</td>
            <td>{{ instrument.resource_class }}</td>
            <td>{{ instrument.resource_info }}</td>
            <td>{{ instrument.interface_type }}</td>
            <td>{{ instrument.interface_number }}</td>
            <td>{{ instrument.lock_state }}</td>
            <td>{{ instrument.spec_version }}</td>
            <td>{{ instrument.last_status }}</td>
            <td><button onclick="query('{{ instrument.resource_name }}','*IDN?')">IDN</button</td>
            <td><button onclick="query('{{ instrument.resource_name }}','*TST?')">Self Test</button></td>
            <td>
                <input type="text" id="query" name="query"/>
                <button onclick="query('{{ instrument.resource_name }}',document.getElementById('query').value)">Query</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}