{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Instrument Manager{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Board Number</th>
            <th>Last Status</th>
            <th>IDN</th>
            <th>Self Test</th>
	    <th>Query</th>
        </tr>
        </thead>
        <tbody>
        {% for instrument in instrumentDetails %}
        <tr>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.manufacturer }}</td>
            <td>{{ instrument.board_number }}</td>
            <td>{{ instrument.status }}</td>
            <td><button class="{{ instrument.name }}-button" onclick="query('{{ instrument.name }}','*IDN?')">IDN</button</td>
            <td><button class="{{ instrument.name }}-button" onclick="query('{{ instrument.name }}','*TST?')">Self Test</button></td>
            <td>
                <form onsubmit="event.preventDefault(); query('{{ instrument.name }}',document.getElementById('{{ instrument.name }}-query').value); return false;">
                    <input type="text" id="{{ instrument.name }}-query" name="queryText"/>
                    <button class="{{ instrument.name }}-button" onclick="query('{{ instrument.name }}',document.getElementById('{{ instrument.name }}-query').value)">Query</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}